<!DOCTYPE html>
<html lang="en">
<head>

    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPortfolio</title>
<link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>ASSALAM-U-ALAIKUM I AM BILAWAL</h1>
    <p>i am currently enrolled in software engineering at muet jamshoro.I am in third year and know some of the programming languages
    I know some nodejs,java,java script,html,css,oracle database,my sql database,firebase connectivity and python
    thank u ver much love u yarrara </p>

    <hr >

    <h2>@typography</h2>

    <h1>This is the biggest heading</h1>
    <h2>This is the second biggest heading</h2>
    <p> let me show you </p>
    <p> This will have <strong>Bold </strong> text</p>
    <small>relativily smaller test</small>
    <hr>
    <h2>@Container accesbilty tree</h2>

    <h3>fluid container</h3>
    <div class=" container
    container-fluid">this is final output</div>

    <h3>center container</h3>
    <div class="container
     container-center">this is the some text i am writing here and also it is final output</div>
    <hr>
    <h2>@links</h2>
    <a  class="link link-primary" href="https://google.com">Primary link</a>
    
    <a  class="link link-secondry" href="https://google.com">Secondry link</a>
    <hr> 
    <h2>@List</h2>
    <h3>unordered list</h3>
    <ul class="list-non-bullet">
        <li>one</li>
        <li>two</li>
        <li>three</li>
    </ul>

    <h3>unordered inline  list</h3>
    <ul class="list-non-bullet">
        <li class="list-item-inline" >one</li>
        <li class="list-item-inline">two</li>
        <li class="list-item-inline">three</li>
    </ul>
    
    <h3> reverse ordered  list</h3>
    <ol reversed>
        <li>one</li>
        <li>two</li>
        <li>three</li>
    </ol>
<hr>
<h3>@Navigation</h3>
<nav class="navigation">
    <div
    class="nav-brand">I am Brand name</div>
    <ul class="list-non-bullet
    nav-pills">
        <li class="list-item-inline"><a class="link" class="link link-active" href="/">Home</a ></li>
        <li class="list-item-inline">  <a class="link" class="link"href="/">Products</a></li>
        <li class="list-item-inline">  <a class="link" class="link" href="/">About</a></li>
        </div>
    </ul>
</nav>
<hr>
<h2>header</h2>

<header class="hero">
    <img  class="hero-img"  src="/IMAGES/PIC.svg" alt="">
    <h1   class="hero-heading">I am bilawal and i am a <span class="web"> web developer </span> </h1>
</header>

<hr>

<h2>section</h2>

<section class="section">
    <div class="container-center">
<h1>wide section</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae corrupti atque exercitationem ut consequuntur hic, ratione sapiente facilis sint. A nostrum quod esse enim saepe repudiandae maiores maxime minima.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iure vel ad impedit quia, perspiciatis libero sapiente dolore exercitationem, commodi totam minima quam odit temporibus, aut fuga pariatur repellat vitae. this will expand to the entire page</p>
</section>
</div>

<section class="section ow">
    <div class="container-center">
    <h1>off white section</h3>
    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis rem modi molestiae impedit, sequi vitae ratione dignissimos quis possimus ipsum dicta laudantium eos saepe sit quo voluptatum quidem. Velit, inventore!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus vitae hic, enim earum sapiente ipsum, repudiandae sequi eligendi quasi magni ducimus ea eum sunt perspiciatis eius ipsa delectus veniam voluptas.  this will expand to the entire page</p>
    </div>
    </section>

<hr>
<h2>@footer</h2>

<footer class="footer" >
    <div class="footer-header">some thing inside footer</div>
    <ul class="social-links list-non-bullet">
        <li class="list-item-inline"> <a class="link"  href="">FIRST </a> </li>
        <li class="list-item-inline"> <a class="link"  href="">Second </a> </li>
        <li class="list-item-inline"> <a class="link" href=""> THIRD</a> </li>
    </ul>
</footer>

    <!-- <div style="height: 38vh;"></div> -->
    </body>
</html>